<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#create-task-modal">
  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 16 16">
  <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
  <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
</svg>
Task
</button>

<!-- Modal -->
<div class="modal fade" id="create-task-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Task</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <div class="row">
            <div class="col">
              <%= form_with model: Task.new, local: true do |form| %>
                <%= hidden_field_tag 'post[group_id]', @group.id %>
                <div class="row">
                  <div class="col-sm-8">
                    <div class="form-group task-desc-box">
                      <%= form.text_field :name, placeholder: 'Name', class: 'form-control', required: 'true' %>
                    </div>
                    <div class="form-group task-desc-box">
                      <%= form.text_area :description, placeholder: 'Go ahead.....', class: 'form-control' %>
                    </div>
                    <div class="form-group">
                      <%= form.file_field :images, multiple: true, class: 'form-control-file' %>
                    </div>
                  </div>
                  <div class="form-group col-sm-4">
                      <%= form.select(
                        :assign_user,
                        assignable_users(group),
                        {prompt: "Please select"},
                        class: 'form-control form-fields mobile-select',
                        required: 'true',
                      )
                    %>
                  </div>
                </div>
                <div class="actions">
                  <%= form.submit "Create", class: 'btn btn-primary', id: 'post_submit' %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
      
    </div>
  </div>
</div>