<!-- Modal -->
<div class="modal fade" id="show-task-modal-<%= task.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle"><%= task.name.humanize %></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <div class="row">
            <div class="col-sm-8">
              <p><%= task.description %></p>
            </div>
            <div class="col-sm-4">
              <p><%= task.user_tasks.find_by(role: 'reporter').user.name %></p>
              <p><%= task.user_tasks.find_by(role: 'assignee').user.name %></p>
              <p><%= task.status %></p>
            </div>
          </div>
        </div>
      </div>
      
    </div>
  </div>
</div>