<div class="home">
  <div class="container-fluid p-0">
    <div class="row">
      <div class="col-sm-8 bg-light group-space">
        <div class="row">
          <div class="col-sm-10 bg-light">
            <p>
              <strong> <%= @group.name %> </strong>  
            </p>
            <p>Total Members : <%= @group.member_ships.size %></p>
          </div>

          <div class="col-sm-2">
            <%= link_to "Info", info_group_path(@group), class: "btn btn-info" %>
          </div>
        </div>
        <br>
        <div class="chat" data-channel-subscribe="group" data-group-id="<%= @group.id %>">
          <% @group.messages.each do |room_message| %>
            <div class="chat-message-container">
              <div class="row no-gutters">
                <!-- <div class="col-auto text-center">
                  <img src="<%= room_message.user%>" class="avatar" alt="">

                </div> -->

                <div class="col">
                  <div class="message-content">
                    <div class="text-right">
                      <small>
                        <%= room_message.user.name %>
                      </small>
                    </div>

                    <p class="mb-1">
                      <%= room_message.body %>
                    </p>

                    <div class="text-right">
                      <small>
                        <%= room_message.created_at %>
                      </small>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          <% end %>
        </div>
        <div class="chat-input"><%= render partial: 'messages/form', locals: { group: @group } %></div>
      </div>
      <div class="col-sm-4 bg-light task-space">
        <div class="task-manipulation">
          <div>
            <%= render 'tasks/new', group: @group %>
          </div>
        </div>
        <div class="task-index">
          <%= render partial: 'tasks/index', locals: { group: @group } %>
        </div>
      </div>
    </div>
  </div>
  
</div>
